* {
    padding: 0;
    margin: 0;
    font-family: 'Alata', sans-serif;
    color: white;
    text-align: center;
}

body {
    width: 100%;
    height: 100%;
}

.container {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle at center, #53687e, #3a4653 80%, #3a4653);
    position: relative;
}

.swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.kw {
    width: 100%;
    font-size: 18px;
}

.text {
    width: 100%;
    font-size: 30px;
}

.kw.animated, .text.animated {
    opacity: 0;
    animation: fadein 4s;
    animation-fill-mode: forwards;
}

.text.animated {
    animation-delay: 1s;
}

.item-wrapper {
    padding: 30px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}